@using System.Collections
@using System.Reflection
@using DTM.Core.Extensions
@model DemonTaleManager.Web.ViewModels.CreateViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h1 class="text-center">Administration - @Model.EntityType.Name</h1>
<h2 class="text-center">Création</h2>

@using (Html.BeginForm("Create", Model.EntityType.Name, FormMethod.Post, new { @class="form-inline" }))
{
    <div>
        @Html.EditorFor(m => m.Entity)
    </div>
    <br/>
    <div>
        <input class="btn btn-primary" type="submit" value="Valider"/>
    </div>
}