@model Main.ViewModels.CharactersViewModel

<div id="DetailsPerso" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <p></p>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>