@Model Main.ViewModels.CharactersViewModel
@{
    ViewData["Title"] = "Gestion des personnages";
}

<h2>Gestion des personnages</h2>

<table>
    <tr>
        <th>Pseudo</th>
        <th>Xp</th>
        <th>Lvl</th>
        <th>Po</th>
        <th>Race</th>
        <th>Type</th>
    </tr>
    @foreach (var charac in Model)
    {
        <tr>
            <td>charac.Name</td>
            <td>charac.Xp</td>
            <td>charac.Lvl</td>
            <td>charac.Po</td>
            <td>charac.Race</td>
            <td>charac.TypePerso</td>
        </tr>
    }
</table>

