@using System.Collections
@using System.Reflection
@using DTM.Core.Enums
@using DTM.Core.Extensions
@using DTM.Core.Utils
@model DemonTaleManager.Web.ViewModels.ItemViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1 class="text-center">Administration - Item</h1>
<h2 class="text-center">Création</h2>

<form asp-controller="Items" asp-action="Create" method="post">
    <div>
        <label asp-for="Item.Nom"></label>
        <input asp-for="Item.Nom" />
        <br />
        <label asp-for="Item.Description"></label>
        <input asp-for="Item.Description" />
        <br />
        <label asp-for="Item.Prix"></label>
        <input asp-for="Item.Prix" />
        <br />
        <label asp-for="Item.TypeItem">@nameof(Model.Item.TypeItem).ToSpacedCase()</label>
        <select asp-for="Item.TypeItem">
            @foreach (var ite in EnumUtil.GetValues<ItemTypeEnum>())
            {
                <option value="@((int)ite)">@ite.ToString().ToSpacedCase()</option>
            }
        </select>
        <br />
        <label asp-for="Item.Commentaire"></label>
        <textarea asp-for="Item.Commentaire"></textarea>
    </div>
    <br />
    <div>
        <input type="submit" value="Valider" class="btn btn-primary" />
    </div>
</form>