@model DTM.Core.ViewModels.CharacterDetailsViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Personnage - création</h2>

<div id="createPersoScrolling">
    <form>

    </form>
</div>
