body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-size: 16px;
}

#mainContent {
    background-image: url(../images/Wallpaper.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: dimgrey;
}

#container-left {
    width: 30%;
}

#container-right {
    width: 70%;
}

#detailsPersoScrolling {
    height: 550px;
    overflow-y: auto;
}

.detailsTab tbody tr {
    background-image: radial-gradient(grey, black);
}

.modal-content {
    background-color: slategrey;
    color: black;
}

/*.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}*/
select, option, input[type=text] {
    background-color: dimgrey;
}

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] { width: 100%; }

/* QR code generator */

#qrCode { margin: 15px; }

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption { display: none; }
}