@using System.Collections
@using System.Reflection
@using DTM.Core.Extensions
@model DemonTaleManager.Web.ViewModels.CrudCreateViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h2 class="text-center">Administration - @Model.EntityType.Name</h2>

@using (Html.BeginForm("Create", Model.EntityType.Name, FormMethod.Post))
{
    <div>
        @Html.EditorFor(m => m.Entity)
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Valider"/>
    </div>
}